---
import Layout from '@shared/layouts/Layout.astro';
import BlogCard from '@features/blog/components/BlogCard.astro';
import { getCollection } from 'astro:content';
import Button from '@shared/components/base/Button.astro';
import { BLOG_URL } from '@config/consts/urls';
import { sortPostsByRecent } from '@features/blog/utils';
import { Icon } from 'astro-icon/components';

const posts = await getCollection('blog');
const sortedPosts = sortPostsByRecent(posts);

const siteURL = import.meta.env.SITE;
---

<Layout url={siteURL} showFooter={true}>
	<div
		class="from-accent-brightest to-accent-bright dark:from-accent-darkest dark:to-accent-dark absolute inset-0 z-0 h-[450px] border-b border-zinc-200 bg-gradient-to-r dark:border-zinc-800"
	>
		<div class="absolute top-0 right-0 z-1 hidden h-full w-3/5 lg:block">
			<Icon name="hero-blog" width="100%" height="100%" />
		</div>
	</div>
	<section class="mx-auto flex max-w-[1400px] flex-col gap-12 px-4 py-16 md:px-16">
		<div class="relative flex flex-col gap-4 py-8">
			<h1 class="text-3xl font-semibold xl:text-5xl">Kieran's Engineering Blog</h1>
			<p
				class="max-w-[500px] text-left text-sm text-zinc-600 sm:text-base lg:text-lg dark:text-zinc-300"
			>
				Learn by building! Explore web development topics related to product UI/UX, React and
				Next.js, software testing, and more.
			</p>
			<Button as="a" size="sm" href="/rss.xml">RSS Feed</Button>
		</div>
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
			{
				sortedPosts.map(({ data: post }) => (
					<BlogCard
						title={post.title}
						description={post.seoDescription}
						date={post.datePublished.toISOString()}
						link={post.slug}
						image={post.cover || ''}
						transitionName={`cover-${post.slug}`}
					/>
				))
			}
		</div>
		<div class="flex flex-col items-center gap-8">
			<p class="mx-auto max-w-[450px] text-center text-base text-zinc-600 dark:text-zinc-300">
				I am in the proccess of migrating my blog content here and as such, not all the posts I have
				written are currently here. If you want more to read you can find them using the button
				below.
			</p>
			<Button as="a" intent="secondary" size="sm" href={BLOG_URL} target="_blank">
				blog.kieranroberts.dev
			</Button>
		</div>
	</section>
</Layout>
