---
import { Image } from 'astro:assets';
import { cx } from 'class-variance-authority';
import ActionItem from '@shared/components/base/ActionItem.astro';
import Avatar from '@shared/components/base/Avatar.astro';
import type { Testimonial } from '@features/testimonials/types';

interface Props extends Testimonial {
	cardStyles: string;
}

const { name, company, role, description, image, profileURL, cardStyles } = Astro.props;
---

<article
	class={cx(
		'group z-10 overflow-hidden rounded-xl border border-zinc-200 bg-white dark:border-zinc-800 dark:bg-zinc-950 outline-accent-darkest dark:outline-accent-brightest outline-offset-0 transition-all duration-300 hover:outline-3 hover:outline-offset-2 dark:hover:outline-offset-2 dark:hover:outline-offset-zinc-900',
		cardStyles,
	)}
>
	<div class="flex h-full flex-col justify-between px-4 py-8 xl:px-8 xl:py-12">
		<div class="flex flex-1 items-center">
			<p
				class="text-left text-sm text-zinc-500 transition-[text-color] duration-300 ease-in group-hover:text-zinc-800 lg:text-base dark:text-zinc-300 dark:group-hover:text-zinc-200"
			>
				"{description}"
			</p>
		</div>

		<ActionItem
			as="a"
			href={profileURL}
			target="_blank"
			class="mt-6 flex flex-row items-center gap-2"
		>
			<Avatar href={profileURL} src={image} alt={`${name}'s avatar`} />

			<div class="mt-auto flex flex-col items-start justify-center">
				<span
					class="text-base font-medium text-zinc-700 transition-[text-color] duration-300 ease-in group-hover:text-zinc-900 lg:text-lg dark:text-zinc-300 dark:group-hover:text-zinc-100"
					>{name}</span
				>
				<span
					class="text-sm text-zinc-500 transition-[text-color] duration-300 ease-in group-hover:text-zinc-700 lg:text-base dark:text-zinc-300 dark:group-hover:text-zinc-300"
					>{role}, {company}</span
				>
			</div>
		</ActionItem>
	</div>
</article>
