---
import { Icon } from 'astro-icon/components';
import ActionItem from '@shared/components/base/ActionItem.astro';
import { cx } from 'class-variance-authority';

interface Props {
	href: string;
	label: string;
	iconName: string;
	isActive?: boolean;
	target?: string;
	preventTransition?: boolean;
}

const {
	href,
	label,
	iconName,
	isActive = false,
	target = '_blank',
	preventTransition = false,
} = Astro.props;
---

<ActionItem
	as="a"
	{href}
	{target}
	rel="noreferrer"
	aria-label={label}
	class={cx(
		'group flex items-center gap-1 rounded-md',
		isActive
			? 'text-zinc-900 dark:text-accent-brightest underline'
			: 'text-zinc-600 hover:text-zinc-900 dark:text-zinc-300 dark:hover:text-zinc-50',
	)}
	{...preventTransition ? { 'data-astro-reload': '' } : {}}
>
	<span class="hidden md:block">{label}</span>
	<span class="md:hidden"><Icon name={iconName} width="20" height="20" /></span>
</ActionItem>
