---
// import Layout from "@layouts/Layout.astro";
// import { LoadMorePosts } from "@modules/blog/LoadMorePosts";
// import { fetchPaginatedBlogPosts, getPostsPaginatedData } from "@utils/blog";
// import PageTitle from "@layouts/PageTitle.astro";
// import ScrollUp from "@components/navigation/ScrollUp.astro";
// import { BlogCard } from "@modules/blog/BlogCard";
// import { ArrowUpSVG, RSSSVG } from "@components/icons";
// import { Button } from "@components/base/Button";
// import { BLOG_URL, DOMAIN_NAME, X_PROFILE_URL } from "@consts/urls";

// const blogPosts = await fetchPaginatedBlogPosts({ first: null, after: null });

// if (!blogPosts) {
//   throw new Error("Error fetching blog posts");
// }
// const { cursor, hasNextPage, postsArray } = getPostsPaginatedData(blogPosts);

// Set the response status to 404
Astro.response.status = 404;
---

<!-- <Layout
  title="Blog | Kieran Roberts"
  description="I like about React, Next.js, TypeScript, and web development in general. Find something you like here."
  url={`${DOMAIN_NAME}${BLOG_URL}`}
>
  <main id="main" class="px-8 md:px-16 py-16 w-full flex flex-col gap-4">
    <PageTitle>
      <a
        href={X_PROFILE_URL}
        target="_blank"
        rel="noreferrer"
        class="text-[1.2em] p-1 rounded-lg">@Kieran6Dev</a
      >
      <br />Blog
    </PageTitle>
    <Button
      client:load
      variant="transparent"
      className="flex items-center mx-auto mb-6"
      asLink
      href={`${BLOG_URL}/rss.xml`}
      iconAnimationSettings={{ x: 2, scale: 1.03 }}
      childrenIsIcon
      startIcon={null}
      endIcon={null}
      aria-label="Kieran6Dev RSS feed"
    >
      <div class="flex items-center gap-2">
        <span class="inline-block">RSS feed</span>
        <span class="flex w-5 h-5 text-white">
          <RSSSVG />
        </span>
      </div>
    </Button>
    <section class="max-w-[600px] mx-auto">
      <div class="flex flex-col gap-y-12">
        {
          postsArray.map((post) => (
            <a
              href={`${BLOG_URL}/${post.slug}`}
              class="group link-focus rounded-xl"
            >
              <BlogCard
                title={post.title}
                description={post.brief}
                date={post.publishedAt}
                options={{ formatDate: true }}
                client:load
              />
            </a>
          ))
        }
        {
          hasNextPage ? (
            <LoadMorePosts
              client:visible
              hasNextPage={hasNextPage}
              cursor={cursor}
            />
          ) : null
        }
      </div>
    </section>
  </main>
  <ScrollUp>
    <span class="w-4 h-4 block text-white">
      <ArrowUpSVG />
    </span>
  </ScrollUp>
</Layout> -->
