---
import Layout from "@layouts/Layout.astro";
import { LoadMorePosts } from "@components/blog/LoadMorePosts";
import { fetchPaginatedBlogPosts, getPostsPaginatedData } from "@utils/blog";
import PageTitle from "@layouts/PageTitle.astro";
import ScrollUp from "@components/navigation/ScrollUp.astro";
import { ArticleCard } from "@components/ArticleCard";
import { ArrowUpSVG } from "@components/icons";

const blogPosts = await fetchPaginatedBlogPosts({ first: null, after: null });
const { cursor, hasNextPage, postsArray } = getPostsPaginatedData(
  blogPosts as any
);
---

<Layout
  title="Blog | Kieran Roberts"
  description="I like about React, Next.js, TypeScript, and web development in general. Find something you like here."
  url="kieranroberts.dev/contact"
>
  <main class="px-8 md:px-16 py-16 w-full flex flex-col">
    <PageTitle>Blog</PageTitle>
    <section class="max-w-[600px] mx-auto">
      <div class="flex flex-col gap-y-12">
        {
          postsArray.map((post) => (
            <>
              <a
                href={`/blog/${post.slug}`}
                class="group link-focus rounded-xl"
              >
                <ArticleCard
                  title={post.title}
                  description={post.brief}
                  date={post.publishedAt}
                  options={{ formatDate: true }}
                />
              </a>
            </>
          ))
        }
        {
          hasNextPage ? (
            <LoadMorePosts
              client:visible
              hasNextPage={hasNextPage}
              cursor={cursor as any}
            />
          ) : null
        }
      </div>
    </section>
  </main>
  <ScrollUp>
    <span class="w-4 h-4 block text-white">
      <ArrowUpSVG />
    </span>
  </ScrollUp>
</Layout>
