---
import { LinkPreview } from '@astro-community/astro-embed-link-preview';
import { Icon } from 'astro-icon/components';

import Layout from '@layouts/Layout.astro';
import Hero from '@modules/landing/Hero.astro';
import SectionHeading from '@modules/landing/SectionHeading.astro';
import HeroIllustration from '@modules/landing/HeroIllustration.astro';
import BlogCard from '@modules/landing/BlogCard.astro';
import SectionContainer from '@modules/landing/SectionContainer.astro';
import AccoladeTweetCard from '@modules/landing/AccoladeTweetCard.astro';
import ExperienceList from '@modules/landing/ExperienceList.astro';
import Button from '@components/base/Button.astro';
import CloudBG from '@modules/landing/CloudBG.astro';

import { BLOG_URL } from '@consts/urls';
import { DOMAIN_NAME } from '@consts/urls';
import { fetchBlogPosts } from '@utils/blog';

const postsData = await fetchBlogPosts({ first: 3 });
---

<Layout url={DOMAIN_NAME} showFooter={true}>
	<div id="hero" class="relative overflow-hidden">
		<CloudBG />
		<section
			class="relative z-10 mx-auto mt-20 flex h-full min-h-[calc(70vh)] w-full max-w-[1600px] flex-col items-center justify-center"
		>
			<SectionContainer>
				<Hero />
			</SectionContainer>
		</section>
	</div>
	<section class="border-y bg-gray-50 dark:border-zinc-800 dark:bg-zinc-900">
		<div class="mx-auto max-w-[1600px] gap-8 px-4 pb-24 pt-12 md:px-16 lg:px-24">
			<HeroIllustration />
		</div>
	</section>
	<section class="relative border-b border-zinc-200 dark:border-zinc-800">
		<CloudBG />
		<SectionContainer>
			<SectionHeading
				title="Career & Experience"
				copy="Here are some of my relevant professional career experience. To see more, you can check out my attached CV."
			/>
			<ExperienceList />
		</SectionContainer>
	</section>
	<section
		id="blog"
		class="relative overflow-hidden border-b border-zinc-200 bg-zinc-50 dark:border-zinc-800 dark:bg-zinc-900"
	>
		<CloudBG />
		<SectionContainer>
			<SectionHeading
				title="Blog"
				copy="I write about topics that interest me in the web development space. UI/UX tutorials, React, testing, and more."
			/>

			<div class="grid grid-cols-1 gap-4 md:grid-cols-3">
				{
					postsData.map((post) => (
						<BlogCard
							title={post.title}
							description={post.brief}
							date={post.publishedAt}
							link={post.url}
							image={post.coverImage?.url || ''}
						/>
					))
				}
			</div>
			<Button
				target="_blank"
				as="a"
				href={BLOG_URL}
				intent="secondary"
				class="relative z-10 mx-auto"
			>
				View all posts
				<Icon
					name="arrow-right"
					width={16}
					height={16}
					class="stroke-current text-black transition-transform duration-200 group-hover:translate-x-1 dark:text-white"
				/>
			</Button>
		</SectionContainer>
	</section>
	<section id="accolades" class="relative overflow-hidden">
		<CloudBG />
		<SectionContainer>
			<SectionHeading
				title="Accolades & Achievements"
				copy="Here are some personal accomplishments from the web development space that I am proud of."
			/>
			<div
				class="lg:auto-rows-[minmax(0, 1fr)] grid grid-flow-dense grid-cols-1 gap-6 lg:grid-cols-6"
			>
				<AccoladeTweetCard
					id="https://twitter.com/Kieran6dev/status/1699795885037883568?ref_src=twsrc%5Etfw"
					className="lg:col-span-2 lg:row-span-2"
				/>
				<AccoladeTweetCard
					id="https://twitter.com/Kieran6dev/status/1378027456561565701?ref_src=twsrc%5Etfw"
					className="lg:col-span-4 lg:row-span-2"
				/>
				<AccoladeTweetCard
					id="https://twitter.com/Kieran6dev/status/1362110408581140481?ref_src=twsrc%5Etfw"
					className="lg:col-span-3 lg:row-span-3"
				/>
				<div
					class="relative col-span-1 h-max w-full overflow-hidden rounded-lg border border-zinc-200 bg-zinc-50 dark:border-zinc-800 dark:bg-zinc-900 lg:col-span-3 lg:row-span-3"
				>
					<LinkPreview
						id="https://townhall.hashnode.com/winners-of-buy-me-a-coffee-april-giveaway"
					/>
				</div>
				<AccoladeTweetCard
					id="https://twitter.com/QANewsletter/status/1375486529112571910?ref_src=twsrc%5Etfw"
					className="lg:col-span-6 lg:row-span-3"
				/>
			</div>
		</SectionContainer>
	</section>
</Layout>
