---
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';

import Layout from '@shared/layouts/Layout.astro';
import Hero from '@features/portfolio/components/Hero.astro';
import SectionHeading from '@shared/pages/home/SectionHeading.astro';
import HeroIllustration from '@features/portfolio/components/HeroIllustration.astro';
import BlogCard from '@features/blog/components/BlogCard.astro';
import SectionContainer from '@shared/pages/home/SectionContainer.astro';
import ExperienceList from '@features/experience/components/ExperienceList.astro';
import Button from '@shared/components/base/Button.astro';
import TestimonialGroup from '@features/testimonials/components/TestimonialGroup.astro';

import WaveBG from '@features/portfolio/components/WaveBG.astro';
import { sortPostsByRecent } from '@features/blog/utils';
import { GITHUB_PROFILE_URL, CALENDLY_URL } from '@config/consts/urls';
import ProjectGroup from '@features/projects/components/ProjectGroup.astro';
import TechIllustration from '@features/portfolio/components/TechIllustration.astro';

const posts = await getCollection('blog');
const sortedPosts = sortPostsByRecent(posts).slice(0, 3);
---

<Layout showFooter={true}>
	<WaveBG styles="h-[35vh] max-h-[350px]" />
	<div id="hero" class="relative overflow-hidden">
		<section
			class="relative z-10 mx-auto flex h-full w-full max-w-[1600px] flex-col items-center justify-center"
		>
			<TechIllustration />
			<div
				class="mx-auto mb-4 flex max-w-[1400px] flex-col items-center justify-center gap-8 px-4 pt-16 md:mb-8 md:px-16 md:pt-24 lg:mb-12 lg:pt-40"
			>
				<Hero />
			</div>
		</section>
		<section class="border-y border-zinc-200 bg-zinc-50 dark:border-zinc-800 dark:bg-zinc-700">
			<div class="relative mx-auto max-w-[1600px] gap-8 px-4 pt-12 pb-24 md:px-16 lg:px-24">
				<HeroIllustration />
			</div>
		</section>
		<section class="relative border-b border-zinc-200 dark:border-zinc-800">
			<SectionContainer>
				<SectionHeading
					title="Career & Experience"
					copy="Some of my relevant professional career experience & education. To see more, find the attached CV."
				/>
				<ExperienceList />
			</SectionContainer>
			<WaveBG direction="up" styles="h-[800px]" />
		</section>
		<section
			id="testimonials"
			class="relative overflow-hidden border-b border-zinc-200 bg-zinc-50 dark:border-zinc-800 dark:bg-zinc-700"
		>
			<SectionContainer>
				<SectionHeading
					title="Testimonials"
					copy="I have been fortunate to work closely with awesome people. Here is what they had to say about me."
				/>
				<TestimonialGroup />
			</SectionContainer>
			<WaveBG direction="up" styles="h-[100%]" />
		</section>
		<section
			id="blog"
			class="relative overflow-hidden border-b border-zinc-200 dark:border-zinc-800"
		>
			<SectionContainer>
				<SectionHeading
					title="Blog"
					copy="I write about topics that interest me in the web development space. UI/UX tutorials, React, software testing, and more."
				/>
				<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3">
					{
						sortedPosts.map(({ data: post }) => (
							<BlogCard
								title={post.title}
								description={post.seoDescription}
								date={post.datePublished.toISOString()}
								link={post.slug}
								image={post.cover || ''}
								transitionName={`cover-${post.slug}`}
								updatedAt={post.updatedAt?.toISOString()}
							/>
						))
					}
				</div>
				<Button as="a" href="/blog" class="relative z-10 mx-auto">
					My blog
					<Icon
						name="arrow-right"
						width={16}
						height={16}
						class="group-hover:text-accent-brightest dark:group-hover:text-accent-darkest stroke-current transition-transform duration-200 group-hover:translate-x-1"
					/>
				</Button>
			</SectionContainer>
			<WaveBG direction="up" styles="h-1/4" />
		</section>
		<section
			class="relative overflow-hidden border-b border-zinc-200 bg-zinc-50 dark:border-zinc-800 dark:bg-zinc-700"
		>
			<SectionContainer>
				<SectionHeading
					title="Personal Projects"
					copy="I like to build tools that help my make my life easier and develop my skills. Check out some of my projects below, including items that I am currently working on."
				/>
				<ProjectGroup />
				<Button target="_blank" as="a" href={GITHUB_PROFILE_URL} class="relative z-10 mx-auto">
					GitHub profile
				</Button>
			</SectionContainer>
			<WaveBG direction="up" styles="h-1/2" />
		</section>
		<section class="relative overflow-hidden">
			<SectionContainer>
				<SectionHeading
					title="Book A Meeting"
					copy="I'm open to discussing work opportunities, collaborations, or just have a coffee chat. Pick a time slot using the link below and provide a brief description of what you'd like to discuss."
				/>
				<Button target="_blank" as="a" href={CALENDLY_URL} class="relative z-10 mx-auto">
					Calendly booking
					<Icon
						name="calendar"
						width={20}
						height={20}
						class="group-hover:text-accent-brightest dark:group-hover:text-accent-darkest stroke-current transition-transform duration-200 group-hover:translate-x-1"
					/>
				</Button>
			</SectionContainer>
		</section>
	</div>
</Layout>
