---
import { Image } from 'astro:assets';
import { ArrowRightSVG } from '@components/icons';
import { Icon } from 'astro-icon/components';

interface Props {
	title: string;
	description: string;
	date: string;
	link: string;
	image: string;
}

const { title, description, date, link, image } = Astro.props;

const formattedDate = new Date(date).toLocaleDateString('en-US', {
	year: 'numeric',
	month: 'long',
	day: 'numeric',
});
---

<a
	href={link}
	target="_blank"
	class="blog-card-hover link-focus group relative z-10 flex flex-col gap-4 rounded-xl border border-zinc-200 bg-white py-4 pl-4 pr-6 dark:border-zinc-800 dark:bg-zinc-900"
>
	<div class="pb-2">
		<Image
			src={image}
			alt="Blog Post Cover Image"
			class="h-auto w-full rounded-lg"
			width={300}
			height={200}
			loading="lazy"
		/>
		<h2
			class="mb-2 mt-4 font-heading text-2xl font-medium text-zinc-700 transition-all duration-300 group-hover:text-zinc-800 dark:text-zinc-300 dark:group-hover:text-zinc-200 xl:text-3xl"
		>
			{title}
		</h2>
		<time class="text-sm text-zinc-600 dark:text-zinc-400 xl:text-base">
			{formattedDate}
		</time>
	</div>
	<p
		class="text-sm text-zinc-500 transition-all duration-300 group-hover:text-zinc-600 dark:text-zinc-400 dark:group-hover:text-zinc-300 xl:text-base"
	>
		{description}
	</p>
	<span
		class="mt-auto flex items-center gap-2 text-base text-zinc-600 transition-all duration-300 group-hover:text-zinc-700 dark:text-zinc-400 dark:group-hover:text-zinc-300"
	>
		Read more
		<Icon
			name="arrow-right"
			width={16}
			height={16}
			class="stroke-current text-black transition-transform duration-200 group-hover:translate-x-1 dark:text-white"
		/>
	</span>
</a>
