---
import { Image } from 'astro:assets';
import type { Experience } from '@env';
import { Icon } from 'astro-icon/components';
type Props = Experience;
const { iconName, company, title, type, location, date, responsibilities, image } = Astro.props;
---

<article class="flex w-full flex-col justify-center gap-4 py-8 pb-8">
	<div>
		{
			(
				<Icon
					name={iconName}
					width={iconName === 'bangor-university' ? 65 : 48}
					height={iconName === 'bangor-university' ? 65 : 48}
				/>
			)
		}
	</div>
	<div class="flex flex-col gap-8">
		<div class="flex flex-col gap-2">
			<span class="text-xl text-zinc-700 dark:text-zinc-300 xl:text-2xl">
				{company}
			</span>
			<div class="flex flex-row items-center gap-2">
				<h2 class="text-3xl font-medium text-zinc-700 dark:text-zinc-300 xl:text-4xl">
					{title}
				</h2>
				<div
					class="inline-flex items-center whitespace-nowrap rounded-md border border-transparent bg-zinc-900 px-2.5 py-0.5 text-xs font-semibold text-zinc-50 shadow"
				>
					{type}
				</div>
			</div>
			<span class="text-sm font-medium text-zinc-500 dark:text-zinc-400">
				{location} | <time>{date}</time>
			</span>
			<div class="h-px w-full bg-zinc-200 dark:bg-zinc-800"></div>
			<ul
				class="list-outside list-disc space-y-4 p-4 text-sm text-zinc-600 dark:text-zinc-300 md:text-base"
			>
				{responsibilities.map((responsibility) => <li>{responsibility}</li>)}
			</ul>
			<div class="h-px w-full bg-zinc-200 dark:bg-zinc-800"></div>
		</div>

		{
			image ? (
				<div class="flex max-h-[250px] w-full max-w-[400px] justify-start">
					<Image
						src={image}
						alt={`${company} highlight`}
						width={925}
						height={731}
						loading="lazy"
						decoding="async"
						quality={100}
						class="rounded-md object-cover object-top shadow-xl"
					/>
				</div>
			) : null
		}
	</div>
</article>
